<div class="container1" style="font-family: sans-serif;">  
  
    <nav class="flex">        
      <div class="logo">
        <ul>
          <li><a>Airlines<i class="fas fa-caret-down"></i></a>
              <ul>                
                <li><a href="/addairline">Add Airline</a></li>
                <li><a href="/airline">Manage Airlines</a></li>
              </ul>
          </li>
          <li><a>Inventory<i class="fas fa-caret-down"></i></a>
            <ul>
              <li><a href="/addinventory">Add Inventory</a></li>
              <li><a href="/inventory">Manage Inventory</a></li>
            </ul>
        </li>
          <li><a>Flight Booking<i class="fas fa-caret-down"></i></a>
            <ul>                
              <li><a href="/searchflight">Search Flights</a></li>
              <li><a href="/ticket">Booking History</a></li>
            </ul>
        </li>            
        </ul>
      </div>
    </nav>
</div>