
<div class="container1" style="font-family: sans-serif;">    
    <div class="container"><br>
      <h4 style="text-align: center;"><strong>Manage Bookings</strong></h4>
  
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="airlineName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Airline Name </th>
              <td mat-cell *matCellDef="let row"> {{row.airlineName}} </td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="flightNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight Number </th>
              <td mat-cell *matCellDef="let row"> {{row.flightNumber}} </td>
            </ng-container>
  
            <!-- Progress Column -->
            <ng-container matColumnDef="fromPlace">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> From Place </th>
              <td mat-cell *matCellDef="let row"> {{row.fromPlace}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="toPlace">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>To Place </th>
              <td mat-cell *matCellDef="let row"> {{row.toPlace}} </td>
            </ng-container>
            <ng-container matColumnDef="startDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date/Time </th>
                <td mat-cell *matCellDef="let row"> {{row.startDateTime}} </td>
              </ng-container>
              <ng-container matColumnDef="endDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date/Time </th>
                <td mat-cell *matCellDef="let row"> {{row.endDateTime}} </td>
              </ng-container>
              <ng-container matColumnDef="bookingDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Date/Time </th>
                <td mat-cell *matCellDef="let row"> {{row.bookingDate}} </td>
              </ng-container>
              <ng-container matColumnDef="travelClass">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Travel Class </th>
                <td mat-cell *matCellDef="let row"> {{row.travelClass}} </td>
              </ng-container>
              <ng-container matColumnDef="noOfPassenger">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Passengers </th>
                <td mat-cell *matCellDef="let row"> {{row.noOfPassenger}} </td>
              </ng-container>
              <ng-container matColumnDef="pnr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PNR </th>
                <td mat-cell *matCellDef="let row"> {{row.pnr}} </td>
              </ng-container>
              <ng-container matColumnDef="ticketCharges">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Charges </th>
                <td mat-cell *matCellDef="let row"> {{row.ticketCharges}} </td>
              </ng-container>              
              <ng-container matColumnDef="meal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Meal </th>
                <td mat-cell *matCellDef="let row"> {{row.meal}} </td>
              </ng-container>
              <ng-container matColumnDef="passengerDetails">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Passengers </th>
                <td mat-cell *matCellDef="let row"> {{row.passengerDetails | json}} </td>
              </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let row">
                <div class="container-form-btn">                  
                  <input type="image" src="https://cdn-icons-png.flaticon.com/512/1251/1251882.png" name="delete" width="25" height="25" alt="delete" (click)="DeleteTicket(row.pnr)"/>              
                </div>            
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>       
            
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
  </div>

  